/* General */
:root {
  --blanco: #ffffff;
  --negro: #212429;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

body {
  margin: 0;
}

strong {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* Barra de navegacion */
header {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  border-bottom: 1px solid #000;
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.icon-chain {
  display: flex;
  justify-content: space-between;
  margin-right: 3%;
}

.enlaces {
  display: flex;
  justify-content: flex-start;
}

.space {
  padding: 8px;
  margin: 16px;
}

.menu {
  margin-left: 2%;
}

@media (max-width: 920px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .enlaces {
    height: 0;
    width: 0;
  }

  .enlaces p {
    font-size: 0;
  }

  .icon-chain {
    height: 0;
    width: 0;
  }
}

/* Contenido */
.titulo {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  padding: 2rem;
}

.contenido {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: auto;
}

.texto-tarjeta {
  display: grid;
  display: flex;
  flex-direction: row;
  width: 70%;
  grid-template-columns: 1fr, 1fr;
  justify-content: space-between;
  margin: auto;
  padding: 1rem;
}

.tarjeta img {
  border-radius: 15px;
  margin: 0 auto;
  display: block;
}

@media (max-width: 920px) {
  .contenido {
    display: flex;
    flex-direction: column;
  }

  .texto-tarjeta {
    max-width: 40%;
  }
}

@media (max-width: 800px) {
  .texto-tarjeta {
    max-width: 45%;
  }
}

@media (max-width: 700px) {
  .texto-tarjeta {
    max-width: 55%;
  }
}

@media (max-width: 600px) {
  .texto-tarjeta {
    max-width: 70%;
  }
}
/* Pie de pagina */
footer {
  font-size: 16px;
  color: var(--blanco);
  background-color: var(--negro);
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.fondo {
  background-color: var(--blanco);
  padding: 10px;
  border-radius: 100%;
  display: flex;
  align-items: center;
}

.apartado {
  width: 24%;
  display: flex;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  justify-content: center;
}

.margen-texto {
  margin-left: 16px;
}

.apartado img {
  width: 100%;
  display: block;
}

@media (max-width: 920px) {
  footer {
    display: flex;
    flex-direction: column;
  }

  .apartado {
    border-bottom: 1px solid var(--blanco);
    width: 90%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    justify-content: flex-start;
  }

  .fondo {
    margin-bottom: 16px;
  }
}
